.subrayado {
	border: 2px solid black;
	width: 90px;
	height: 0;
}

.contenedor {
	margin: 10px;
	padding: 10px;
	position: relative;
}


.img1 {
	background-image: url(../img/profile-1.png); 
	float: left;
	width: 210px;
	height: 210px;
	margin-bottom: 20px;
}

.img2 {
	background-image: url(../img/profile-2.png);
	float: left;
	width: 210px;
	height: 210px;
	margin-left: 20px;
	margin-right:20px;
}

.img3 {
	background-image: url(../img/profile-3.png);
	float: left;
	width: 210px;
	height: 210px;
}


.img4 {
	background-image: url(../img/profile-4.png);
	clear: left;
	float: left;
	width: 210px;
	height: 210px;
}

.img5 {
	background-image: url(../img/profile-5.png);
	float: left;
	width: 210px;
	height: 210px;
	margin-left: 20px;
	margin-right:20px;
}

.img6 {
	background-image: url(../img/profile-6.png);
	float: left;
	width: 210px;
	height: 210px;
}

p {
	position: relative;
	top: 170px;
	left: 80px;
	color: white;
}

